/gateway/node_modules
/digiplex_gateway/node_modules
/services/adminService/node_modules
/services/authService/node_modules
/services/streamingService/node_modules
/services/subscriptionService/node_modules
/services/uploadService/node_modules
/services/userService/node_modules
/services/videoService/node_modules
/packages/db/node_modules
